#seism-core
#seism-core-slice
#seism-core-slice-*
#seism-core-test
#seism-core-check
#seism-core-check-static
#seism-read
#a.out
#*.o
#*.so
#*.h5
#Makefile
#results/*
seism-core/src/plugins/sd/VX
seism-core/src/plugins/sd/x*
core
cmake
